/*---------------
      RESET 
---------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*---------------
      GENERAL 
---------------*/

body {
  font-family: "Montserrat", serif;
  font-size: 1.1rem;
  color: #000;
  background-color: #e6b1c3;
  font-family: "Montserrat", serif;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.articleList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.25rem;
  border: 2px solid #e693db;
  border-radius: 0.125rem;
  padding: 1.875rem;
  background-image: url(../bg.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

.article {
  background-color: #e6bbc3bb;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-width: 50%;
  margin-bottom: 0.625rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e693db;
}

h2 .article-title {
  font-size: 1.25rem;
}

.article-content {
  background-image: url(/paperbj.jpg);
  padding: 0.625rem;
  border-radius: 0.3125rem;
  width: 50%;
  font-style: oblique;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.article-author {
  font-size: 0.875rem;
  color: #ee4242;
}

.article-category {
  color: #e693db;
}
.article-published {
  margin: 0.3125rem;
  background-color: #e693db;
  border-radius: 0.3125rem;
  padding: 5px;
}

.article button {
  border: none;
  background-color: white;
  width: 10%;
  cursor: pointer;
}

form input {
  padding: 0.3125rem 0.4375rem;
  margin-right: 0.25rem;
}

form button {
  padding: 0.3125rem 0.4375rem;
  border: 2px solid #e693db;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 1.25rem;
  border: 2px dashed #ee4242;
  padding: 1.25rem;
}
form label {
  text-align: center;
}
#content {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  font-size: inherit;
  padding: 0.3125rem;
}
